NO. 1

In [19]:
buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
print(buah)

#a. tambahkan semangka diakhir list
buah.append('semangka')
print(f"data setelah ditambah semangka di akhir: {buah}")

#b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(3, 'durian')
print(f"data setelah di beri tambahan: {buah}")

#c. Hapus 'mangga' dari list
buah.remove('mangga')
print(f"data setelah dihapus mangganya: {buah}")

#d. Ubah 'pisang' menjadi 'nanas'
buah[4] = 'nanas'
print(f"data setelah diubah namanya: {buah}")

#e. Tampilkan 3 buah pertama
buah.sort()
print(f"urutan seluruh buah: {buah}")
print(f"urutan 3 buah pertama: {buah[:3]}")

['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
data setelah ditambah semangka di akhir: ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']
data setelah di beri tambahan: ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
data setelah dihapus mangganya: ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
data setelah diubah namanya: ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']
urutan seluruh data: ['anggur', 'apel', 'durian', 'jeruk', 'nanas', 'semangka']
urutan 3 buah pertama: ['anggur', 'apel', 'durian']

NO.2

In [22]:
angka = [45, 12, 78, 23, 56, 89, 34]
print(f"angka: {angka}")

#mengurutkan secara ascending
angka.sort()
print(f"data setelah diurutkan secara ascending: {angka}")

#mengurutkan secara descending
angka.reverse()
print(f"data setelah diurutkan secara descending: {angka}")

angka: [45, 12, 78, 23, 56, 89, 34]
data setelah diurutkan secara ascending: [12, 23, 34, 45, 56, 78, 89]
data setelah diurutkan secara descending: [89, 78, 56, 45, 34, 23, 12]